<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styleHome.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <title>ChickenInn</title>
</head>
<body>
    <section class="container">
        <div class="cardContent" id="cardContent">
            <div class="text">
                <h2>welcome</h2>
                <h1>be<span>st chick</span>en</h1>
                <span class="intro">Get the best dishes at an affordable price.</span><br><br><br><br>
                <div class="linkHolder">
                    <a href="/menu/index"><span>place order</span></a>
                    <a href="/menu/new"><span>new dish</span></a>

                </div>
            </div>
            

            <div class="bottomNav">
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Rate Us</a></li>
                </ul>
                <ul>
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""></a><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                </ul>

            </div>
            
        </div>
    </section>

</body>
</html>