@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: ease 1s;
}
body{
    margin: 0;
    overscroll-behavior-y: none;
    background-color: #ffffff;
}
#pbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background: linear-gradient(to right, orangered, #00ff22);
    width: 0%;
    z-index: 999;
    transition: width 0.2s ease;
}

header{
    width: 90%;
    margin: auto;
    right: 0;
    left: 0;
    height: 80px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    height: 80px;
}
header form input[type=text]{
    width: 700px;
}
header .icons .fa{
    color: #000000;
    font-size: 25px;
}
.side{
    max-height: 100vh;
}


.side ul{
    margin: 0;
    width: 50px;
    background-color: #e6e6e6;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
}
.side ul li{
    height: 50px;
    transition: ease 1s;
}
.side ul li:hover, .side ul li:hover .fa{
    transform: scale(1.2);
    color: orangered;
}
.side ul li a:active .fa{
    color: orangered;
}

section{
    width: 90%;
    margin: auto;
    right: 0;
    left: 0;
    margin-top: 40px;
}

.main{
    display: flex;
    justify-content: space-between;
}




.left {
    width: 69%;
    min-height: 100vh;
}
.imgCard{
    width: 100%;
    height: 350px;
}
.imgCard img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}


.menuItems{
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    position: sticky;
    top: 80px;
    z-index: 1000;
}

.menuItems ul{
    height: 60px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menuItems ul li{
    min-width: 120px;
}
.menuItems ul li a{
    font-size: 18px;
    font-weight: 400;
}
.cardHolder{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cardHolder .card{
    width: 320px;
    height: auto;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    margin: 20px 5px;
    padding-bottom: 20px;
    transition: ease 1s;
    box-shadow: 10px 10px 15px #dfdfdf;
}
.cardHolder .card:hover{
    /* background-color: rgb(231, 231, 231); */
    cursor: pointer;
    /* background-color: rgb(245, 245, 245); */
}
.cardHolder .card:hover .overlay{
    opacity: 1;
}
.overlay{
    width: 300px;
    height: 200px;
    opacity: 0.8;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 0;
    left: 0;
    background-color: #000000a2;
    opacity: 0;
    transition: ease 1s;
}
.cardHolder .card .content{
    position: relative;
}
.cardHolder .card .image {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.overlay p{
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.cardHolder .card .image img{
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.cardHolder .card .desc{
    margin: 0 10px;
}
.cardHolder .card .desc h2{
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}
.cardHolder .card .desc span{
    display: flex;
    justify-content: space-between;
}
.cardHolder .card .desc span{
    padding-top: 10px;
}
.cardHolder .card .desc span p:nth-child(1){
    font-size: 18px;
    font-weight: 400;
}












.right{
    background-color: rgb(231, 231, 231);
    width: 26%;
    min-height: 100vh;
}
.container{
    max-height: 100vh;
    position: sticky;
    top: 100px;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 40px;
}
 .container h1{
     font-size: 25px;
     font-weight: 900;
     letter-spacing: 2px;
 }

 .container h2{
     font-size: 18px;
     font-weight: 600;
     padding-top: 20px;
 }
 .container .subtitle{
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     margin-bottom: 30px;
 }
.container .cardContainer{
    height: 400px;
    overflow: auto;
}
 .container .smallCard{
     display: flex;
     justify-content: space-between;
     align-content: center;
     height: 120px;
     margin-top: 10px;
     background-color: #fff;
     border-radius: 10px;
     flex-wrap: wrap;
     align-items: center;
 }

 .container .smallCard .avatar img{
     width: 120px;
    height: 105px;
    object-fit: cover;
    border-radius: 10px;
 }

 .container .smallCard .details p{
     padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
 }
 .container .smallCard .cost{
    margin: 10px 10px 0 0;
 }
.details form{
    margin-top: 30px;
}
 .details input[type=number]{
     font-size: 20px;
     font-weight: 400;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #f8f8f8;
    padding-left: 5px;
 }
 .cost .btn-delete{
     margin: 30px 0 0 0;
     background: #dfdfdf;
     padding: 5px 10px;
     border-radius: 5px;
     border-style: hidden;
 }

 .cost .btn-delete span,
 .cost .btn-delete .fa{
     color: #000000;
     font-size: 18px;
     font-weight: 400;
     cursor: pointer;
 }
 .cost .btn-delete:hover {
     background-color: orangered;
 }
 .cost .btn-delete:hover .fa,
 .cost .btn-delete:hover span{
     color: #ffffff;
 }
 .subtotal{
     border-bottom: 1px solid #000000;
     display: flex;
     justify-content: space-between;
     padding: 40px 5px 5px 5px;
 }
 .promo{
    margin-top: 40px;
    padding: 10px 5px;
    background-color: #f5f5f5;
    border: 2px solid orangered;
     border-radius: 10px;
 }
.promo input[type=text]{
    width: 180px;
    border-style: hidden;
    height: 30px;
    padding-left: 10px;
}
.promo form{
    display: flex;
    justify-content: space-between;
}
.total{
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    padding: 40px 5px 5px 5px;
}

.orderBtn{
    margin: 40px 0 80px 0;
    width: 100%;
    height: 80px;
    background-color: orangered;
    border: none;
    letter-spacing: 3px;
    transition: ease 1s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderBtn span{
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}
.orderBtn:hover{
    background-color: #ff0000;
}
.orderBtn:hover span{
    color: #000000;
}

@media screen and (max-width: 1080px) {
    header form input[type=text] {
        width: 300px;
    }
    header .logo img {
        height: 60px;
    }

    .left{
        width: 59%;
    }
    .right{
        width: 39%;
    }
    .container .smallCard .avatar img {
        width: 80px;
    }
    .container .smallCard .details p {
        font-size: 14px;
    }
    .price, .cost .btn-delete span{
        font-size: 14px;
    }
}
@media screen and (max-width: 950px) {
    .promo input[type=text] {
        width: 120px;
        padding-left: 10px;
    }
    .menuItems {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    header{
        align-self: flex-end;
    }
    header form input[type=text] {
        display: none;
    }
    .side{
        display: none;
    }
    .main{
        flex-flow: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .container .smallCard .avatar img {
        width: 150px;
    }
    .container .smallCard .details p {
        font-size: 18px;
    }
    .promo form {
        flex-flow: column;
    }

    .promo input[type=text] {
        width: 100%;
    }.container .cardContainer {
        height: 200px;
    }
    .promo form {
        flex-direction: row;
    }
}
@media screen and (max-width: 472px) {
    .container .smallCard .avatar img {
        width: 90px;
    }
    .container .smallCard .details p {
        font-size: 12px;
    }
    .cost .btn-delete span, .cost .btn-delete .fa {
        font-size: 12px;
    }
    .cost .btn-delete {
        padding: 5px;
    }
}